.light {
    width: 100%;  
    height: 60px; 
    background-color: lightgray; 
    display: flex;
    justify-content: space-between;
}

.dark {
    width: 100%;  
    height: 60px; 
    background-color: black; 
}

.lightul {
  list-style-type: none;
  background-color: lightgray;
  float: right;
  padding: 0;
}

.darkul {
  list-style-type: none;
  background-color: black;
  float: right;
  padding: 0;
}

.lightli{
  display: inline-block; padding:10px;
  font-size:18px; font-family:raleway;
  border-left:1px solid black;
}

.darkli{
  display: inline-block; padding:10px;
  font-size:18px; font-family:raleway;
  border-left:1px solid white;
}

.darka{
    color: white;
}

.lighta{
    color: black;
}